@import "../../../components/sass/variables";

.div {
  span:first-child {
    width: 20px;
    top: 20px;
    left: 70%;
    border-radius: 0 0 200px 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 999;
    aspect-ratio: 1;
  }
  span:last-child {
    border: none;
    width: 30px;
    top: 35px;
    left: 77%;
    border-radius: 0 0 200px 0;
    background-color: rgb(5, 190, 252);
    position: absolute;
    z-index: 999;
    aspect-ratio: 1;
  }
}
