@import "../../components/sass/variables";

.contactMain {
  color: rgb(0, 0, 0);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
}

.form {
  display: block;
  padding: 2rem;
  border-radius: 10px;
  gap: 1rem;
  background-color: white;
 
  div {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  input {
    padding: 1rem;
    min-width: 0;
    border-radius: 4px;
    outline: 1px solid rgb(38, 12, 168);
  }
}

@media screen and (max-width: 800px) {
  .form {
    grid-template-columns: 1fr;
    div:last-child {
      grid-column: 1;
    }
  }
}
