// utilities class
$white-color: #fff;
$black-color: black;
$button-color: #0d8d2b;
$unique-color: #850054;
$header-color: #194668;
$shadow-color: 0px 0px 6px rgba(8, 8, 8, 0.3);
$flow-space: 3rem;

$marginSpace: (
  "sm": 0.8rem,
  "md": 6rem,
  "lg": 8rem,
  "auto": (
    auto,
  ),
);
$size: (
  "sm": clamp(0.4rem, 2.1vh, 1.8rem),
  "md": clamp(1.3rem, 2.8vw, 5rem),
  "lg": 1.4rem,
  "xl": clamp(2rem, 3.6vw, 8rem),
);
.supText {
  font-size: map-get($size, md);
}
.subText {
  font-size: map-get($size, sm);
}

.h1 {
  font-size: map-get($size, xl);
  line-height: 1;
  font-weight: 700;
}
.textBefore {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: -5px;

    width: 4px;
    height: 70%;
    background-color: $button-color;
  }
}
